
<html>
    <head>
        <title>Forgot Password Form</title>
    </head>
    <body>
      <h1>Forgot your password?</h1>
      <hr>
      <h3>Enter your email address to reset your password</h3>
      
      <form routerLink="/forgot-password" method="post">
        <label for="mail">Email</label>
        <input type="email" id="name" name="name" placeholder="Enter your email address" required onblur="validateName(name)">   
      <button type="submit">Submit</button>
  <span id="nameError" style="display: none;" >There was an error with your email</span>
      </form>  


    </body>
</html>









