<body class="page">
  <main class="main page__main">
    <form class="form main__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="javascript:void(0);"
      method="POST">
      <h3 class="form__title">Login Here</h3>
      <div class="form__content">
        <div class="form__row">
          <div class="form__col">
            <img src="/assets/lawlog.png" alt="">
          </div>
          <div class="form__col">
            <p class="form__separator" aria-label="Or sign in manually."><span class="form__separator-word"></span></p>
          </div>
          <div class="form__col">
            <div class="form__login-content">
              <input class="form__input" type="text" name="uname" formControlName="email" placeholder="Username"
                aria-label="Username" />
              <input class="form__input" type="password" name="psw" formControlName="password" placeholder="Password"
                aria-label="Password" />
              <button class="form__submit-btn">Login</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form__btns"><a class="primary-btn"  routerLink="/login">Sign UP</a><a class="primary-btn"
          routerLink="/forgot-password">Forgot password?</a></div>
    </form>
  </main>
</body>