<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">

        <ng-template matStepLabel>Personal Information Form</ng-template>
        <form action="" [formGroup]="myForm">
            <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="firstName"
                                placeholder="Candidate's Name ">
                            <div class="highlight"></div>
                        </div>

                    </div>
                    <!-- <div class="col-sm-6"> <p-floatLabel>
                        <input id="username" type="text" pInputText
                            style="width:100% ;height:40px  ;border-radius: 10px; "    />
                        <label for="username">Candidate E-mail</label>
                    </p-floatLabel></div> -->

                </div>
                <div class="row mt-4">
                    <div class="input-container">
                        <input type="date" name="text" class="input" formControlName="dateofBirth"
                            placeholder="Candidate's Name ">
                        <div class="highlight"></div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="email"
                                placeholder="Candidate's E-mail ">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="StudentOccupation"
                                placeholder="Candidate's Occupation">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="mobile"
                                placeholder="Candidate's Mobile Number ">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="address"
                                placeholder="Candidate's Address">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="state"
                                placeholder="Candidate's State">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="city"
                                placeholder="Candidate's City">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="input-container">
                            <input type="text" name="text" class="input" formControlName="pincode"
                                placeholder="Candidate's Pincode">
                            <div class="highlight"></div>
                        </div>

                    </div>
                </div>


                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="container">
                            <small>Category</small>
                            <label>
                                <input type="radio" formControlName="category" value="Gen" checked="">
                                <span>Gen</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="category" value="SC">
                                <span>SC</span>
                            </label>
                            <label>
                                <input type="radio" (click)="getSelectedRadioValue()" formControlName="category"
                                    value="ST">
                                <span>ST</span>
                            </label>
                            <label>
                                <input type="radio" (click)="getSelectedRadioValue()" formControlName="category"
                                    value="PD">
                                <span>PD</span>
                            </label>
                            <label>
                                <input type="radio" (click)="getSelectedRadioValue()" formControlName="category"
                                    value="OBC">
                                <span>OBC</span>
                            </label>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="container">
                            <small>BPL</small>
                            <label>
                                <input type="radio" formControlName="BPL" value="SC" checked="">
                                <span>SC</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="BPL" value="ST">
                                <span>ST</span>
                            </label>
                            <small>(Choose If Applicable)</small>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="container">

                            <small>Course</small>
                            <label>
                                <input type="radio" formControlName="Course" value="L.L.B (3 Years)" checked="">
                                <span>L.L.B (3 Years)</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="Course" value="B.A .L.L.B (5 Years)">
                                <span>B.A .L.L.B (5 Years)</span>
                            </label>



                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="container">
                            <small>Religion</small>
                            <label>
                                <input type="radio" formControlName="Religion" value="Hindu" checked="">
                                <span>Hindu</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="Religion" value="Muslim">
                                <span>Muslim</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="Religion" value="Christian">
                                <span>Christian</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="Religion" value="Sikhism">
                                <span>Sikhism</span>
                            </label>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="container">
                            <small>Gender</small>
                            <label>
                                <input type="radio" formControlName="gender" value="Hindu" checked="" value="male">
                                <span>Male</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="gender" value="Female">
                                <span>Female</span>
                            </label>



                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="container">
                            <small>Nationality</small>
                            <label>
                                <input type="radio" formControlName="Nationality" value="Indian" checked=""
                                    value="Indian">
                                <span>Indian</span>
                            </label>
                            <label>
                                <input type="radio" formControlName="Nationality" value="other">
                                <span>Other</span>
                            </label>



                        </div>
                    </div>
                </div>


                <div class="row">

                    <p-card header="10th Details">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <small>Passed-out year</small>

                                    <input type="date" name="text" class="input" formControlName="TenthpassedoutYear"
                                        placeholder="Candidate's  Name ">
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="TenthSchoolName"
                                        placeholder=" Name of School ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="TenthBoard"
                                        placeholder=" 10th Board  ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="TenthMaxMark"
                                        placeholder=" 10th Maximum Mark ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="TenthObtainedMark"
                                        placeholder=" 10th obtained  Mark ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="TenthPercentage"
                                        placeholder=" 10th Percetage ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>






                    </p-card>

                </div>
                <div class="row">

                    <p-card header="12th Details">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <small>Passed-out year</small>

                                    <input type="date" name="text" class="input" formControlName="twelthpassedoutYear"
                                        placeholder="Candidate's  Name ">
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="twelthSchoolName"
                                        placeholder=" Name of School ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="twelthBoard"
                                        placeholder=" 12th Board  ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="twelthMaxMark"
                                        placeholder=" 12th Maximum Mark ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="twelthObtainedMark"
                                        placeholder=" 12th obtained  Mark ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="twelthPercentage"
                                        placeholder=" 12th Percetage ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>






                    </p-card>

                </div>

                <div class="row">

                    <p-card header="College Details">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <small>Passed-out year</small>

                                    <input type="date" name="text" class="input" formControlName="collegepassedoutYear"
                                        placeholder="Candidate's  Name ">
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="collegeSchoolName"
                                        placeholder=" Name of college ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="collegeBoard"
                                        placeholder="  College Degree  ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="collegeMaxMark"
                                        placeholder="  CGPA% ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>


                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="collegePercentage"
                                        placeholder="  Percetage ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>






                    </p-card>

                </div>




                <div class="row">

                    <p-card header="Mother's Detail ">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="motherName"
                                        placeholder="Mother's Name">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="motherOccupation"
                                        placeholder="Mother's Occupation and Designation">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="motherAnnualIncome"
                                        placeholder="Mother's Annual Income">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="motherOfficeAddress"
                                        placeholder="Mother's Office Address ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="motherPhoneNumber"
                                        placeholder="Mother's Phone Number ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>




                    </p-card>





                </div>
                <div class="row">

                    <p-card header="Father's Detail ">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="fatherName"
                                        placeholder="Father's Name">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="fatherOccupation"
                                        placeholder="Father's Occupation and Designation">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="fatherAnnualIncome"
                                        placeholder="Father's Annual Income">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="fatherOfficeAddress"
                                        placeholder="Father's Office Address ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-4">

                            <div class="col-sm-12">
                                <div class="input-container">
                                    <input type="text" name="text" class="input" formControlName="fatherPhoneNumber"
                                        placeholder="Father's Phone Number ">
                                    <small></small>
                                    <div class="highlight"></div>
                                </div>

                            </div>



                        </div>


                      



                    </p-card>





                </div>


            </div>


            <div class="row mt-5">
                <div class="col-4"><button   (click)="saveDraft()" class="Documents-btn">
                    <span class="folderContainer">
                      <svg
                        class="fileBack"
                        width="146"
                        height="113"
                        viewBox="0 0 146 113"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0 4C0 1.79086 1.79086 0 4 0H50.3802C51.8285 0 53.2056 0.627965 54.1553 1.72142L64.3303 13.4371C65.2799 14.5306 66.657 15.1585 68.1053 15.1585H141.509C143.718 15.1585 145.509 16.9494 145.509 19.1585V109C145.509 111.209 143.718 113 141.509 113H3.99999C1.79085 113 0 111.209 0 109V4Z"
                          fill="url(#paint0_linear_117_4)"
                        ></path>
                        <defs>
                          <linearGradient
                            id="paint0_linear_117_4"
                            x1="0"
                            y1="0"
                            x2="72.93"
                            y2="95.4804"
                            gradientUnits="userSpaceOnUse"
                          >
                            <stop stop-color="#8F88C2"></stop>
                            <stop offset="1" stop-color="#5C52A2"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                      <svg
                        class="filePage"
                        width="88"
                        height="99"
                        viewBox="0 0 88 99"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="88" height="99" fill="url(#paint0_linear_117_6)"></rect>
                        <defs>
                          <linearGradient
                            id="paint0_linear_117_6"
                            x1="0"
                            y1="0"
                            x2="81"
                            y2="160.5"
                            gradientUnits="userSpaceOnUse"
                          >
                            <stop stop-color="white"></stop>
                            <stop offset="1" stop-color="#686868"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                  
                      <svg
                        class="fileFront"
                        width="160"
                        height="79"
                        viewBox="0 0 160 79"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0.29306 12.2478C0.133905 9.38186 2.41499 6.97059 5.28537 6.97059H30.419H58.1902C59.5751 6.97059 60.9288 6.55982 62.0802 5.79025L68.977 1.18034C70.1283 0.410771 71.482 0 72.8669 0H77H155.462C157.87 0 159.733 2.1129 159.43 4.50232L150.443 75.5023C150.19 77.5013 148.489 79 146.474 79H7.78403C5.66106 79 3.9079 77.3415 3.79019 75.2218L0.29306 12.2478Z"
                          fill="url(#paint0_linear_117_5)"
                        ></path>
                        <defs>
                          <linearGradient
                            id="paint0_linear_117_5"
                            x1="38.7619"
                            y1="8.71323"
                            x2="66.9106"
                            y2="82.8317"
                            gradientUnits="userSpaceOnUse"
                          >
                            <stop stop-color="#C3BBFF"></stop>
                            <stop offset="1" stop-color="#51469A"></stop>
                          </linearGradient>
                        </defs>
                      </svg>
                    </span>
                    <p class="text">Draft It</p>
                  </button>
                  </div>
                <div class="col-4"></div>
                <div class="col-4">   
                    
                    <button class="btn" (click)="clearDraft()">
                        <small class="paragraph"> clear Draft </small>
                        <span class="icon-wrapper">
                          <svg class="icon" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </span>
                      </button>



                   
                      
                    
                    
                    
                </div>
            </div>



        </form>


        <div class="mt-5">


            <button  mat-button matStepperNext class="animated-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
                <span class="text">Continue</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
              </button>
              
            
        </div>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <div>
            <ng-template matStepLabel>Documents</ng-template>
            <div class="row">

                <p-card header="Documents ">


                    <div class="row mt-4">


                        <div class="col-4">
                            <div class="form">
                                <span> SSLC MarkSheet</span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #tenthMarkSheets (change)="tenthMarkSheet(tenthMarkSheets)"
                                        type="file" accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form">
                                <span> HSC MarkSheet</span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #twelthMarkSheets (change)="twelthMarkSheet(twelthMarkSheets)"
                                        type="file" accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form">
                                <span> Graduation Mark Sheet</span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #Gradations (change)="Gradation(Gradations)" type="file"
                                        accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>


                    </div>

                    <div class="row mt-4">


                        <div class="col-4">
                            <div class="form">
                                <span> Transfer Certificate</span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #TransferCertificates
                                        (change)="TransferCertificate(TransferCertificates)" type="file"
                                        accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form">
                                <span> Community Certificate </span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #CommunityCertificates
                                        (change)="CommunityCertificate(CommunityCertificates)" type="file"
                                        accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form">
                                <span> Reservation Certificate</span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #Reservations (change)="Reservation(Reservations)" type="file"
                                        accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>


                    </div>

                    <div class="row mt-4">



                        <div class="col-4">
                            <div class="form">
                                <span> Profile Picture </span>
                                <p class="form-paragraph">
                                    File should be an image
                                </p>
                                <label for="file-input" class="drop-container">

                                    <input class="lbs1" #ProfilePictures (change)="ProfilePicture(ProfilePictures)"
                                        type="file" accept="image/*" required="" id="file-input">
                                </label>
                            </div>
                        </div>


                    </div>





                </p-card>





            </div>

            <div class="mt-5">
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <button  mat-button matStepperNext class="animated-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                      <path
                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                      ></path>
                    </svg>
                    <span class="text">Continue</span>
                    <span class="circle"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                      <path
                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                      ></path>
                    </svg>
                  </button>
                              </div>
        </div>
    </mat-step>
    <mat-step>
        <p-fieldset legend="Declaration" [toggleable]="true">
            <p>
                Certify that Information furnished is correct to best of my knowledge & belief I also
                certify
                that I have not been involved in any criminal act and have never been rusticated from
                any
                educational institution. Incase any information given in this application is proved
                wrong after
                admission, the institute can take appropriate legal action on me. I will abide by the
                rules and
                regulations of the institution in all respects. I will not make the Management
                responsible in any
                way or injury caused to me during the practical, games and sports and other activities
                of the
                institute.
            </p>
        </p-fieldset>
        <p-fieldset legend="Certificate From The Parents" [toggleable]="true">
            <p>
                I Certify that my son/daughter/ward is an applicant for admission to the LL.B. There is
                no
                court case against him/her. I shall be responsible for/her conduct and payment of fees
                through
                his/her studentship at the Institute.

            </p>

          
        </p-fieldset>
        <ng-template matStepLabel>Done</ng-template>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"> <button (click)="submit()" class="buttons">
                    Apply Now
                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                        <path clip-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button></div>
            <div class="col-sm-4">        <p>You are now done.</p>
            </div>
        </div>



        <!-- <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div> -->
    </mat-step>
</mat-stepper>