<mat-card>
    <mat-card-content
      ><div class="row">
        <div class="InputContainer">
          <input
           (input)="total()"
            placeholder="00.00.00."
            id="input"
            [(ngModel)]="amount"
            class="input"
            name="text"
            type="text"
          />
  
     
          <div class="visaCard">
            <img src="/assets/rupee.png" width="20px" height="20px" alt="" />
          </div>
        </div></div
    >
  
    
  </mat-card-content>
  </mat-card>
  
  
  
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
  
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">      Your GST is :{{gstvalue}} 
          </div>
          <div class="col-4"></div>
        </div>
      </div>
      <div class="alert alert-info" role="alert">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">      Your Totl Pay is :{{TotlPay}} 
          </div>
          <div class="col-4"></div>
        </div>
        <!-- Your Total is :{{TotlPay}} -->
      </div>
    </div>
  </div>
  
  
  <!-- <span>Total : {{calculatedPercentage}} </span> -->
  <br />
  <br />
  
  <mat-card>
    <mat-card-content
      ><div class="row">
        <div class="container" (click)="pay()">
          <div class="left-side">
            <div class="card">
              <div class="card-line"></div>
              <div class="buttons"></div>
            </div>
            <div class="post">
              <div class="post-line"></div>
              <div class="screen">
                <div class="dollar">$</div>
              </div>
              <div class="numbers"></div>
              <div class="numbers-line2"></div>
            </div>
          </div>
          <div class="right-side">
            <div class="new">Pay Now</div>
  
            <svg
              viewBox="0 0 451.846 451.847"
              height="512"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
              class="arrow"
            >
              <path
                fill="#cfcfcf"
                data-old_color="#000000"
                class="active-path"
                data-original="#000000"
                d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      </mat-card-content>
  </mat-card>
  
  <form
    name="form"
    id="FormType"
    action="https://staging-connect.basispay.in/checkout"
    method="POST"
  >
    <div style="display: none">
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="address" [(ngModel)]="addressLine1" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="apiKey" [(ngModel)]="apikey" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="city" [(ngModel)]="city" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="country" [(ngModel)]="countrys" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="customerEmail" [(ngModel)]="email" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input
              type="hidden"
              name="customerMobile"
              [(ngModel)]="mobileNumber"
            />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="customerName" [(ngModel)]="Name" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input
              type="hidden"
              name="deliveryAddress"
              [(ngModel)]="addressLine1"
            />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="deliveryCity" [(ngModel)]="city" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="deliveryCountry" [(ngModel)]="countrys" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input
              type="hidden"
              name="deliveryMobile"
              [(ngModel)]="mobileNumber"
            />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="deliveryName" [(ngModel)]="Name" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input
              type="hidden"
              name="deliveryPostalCode"
              [(ngModel)]="pincode"
            />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="deliveryRegion" [(ngModel)]="state" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input
              type="hidden"
              name="orderReference"
              [(ngModel)]="refferencenumber"
            />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="postalCode" [(ngModel)]="pincode" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="region" [(ngModel)]="state" />
          </div>
        </div>
  
        <div class="col-4">
          <div class="mb-3">
            <input type="hidden" name="secureHash" [(ngModel)]="hash" />
          </div>
          .
        </div>
      </div>
    </div>
  </form>
  

  