

<div class="row">
  <div class="col-4"></div>
  <div class="col-4"><form class="form" [formGroup]="registrationForm">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
      
        <label>
            <input required="" placeholder="" formControlName="name" type="text" class="input">
            <span>Firstname</span>
        </label>
  
        <label>
            <input required="" placeholder="" formControlName="mobile" type="number" class="input">
            <span>Mobile Number</span>
        </label>
  
            
    <label>
        <input required="" placeholder=""  formControlName="email" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" formControlName="password" type="password" class="input">
        <span>Password</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" formControlName="confirmPassword" class="input">
        <span>Confirm password</span>
    </label>
    <button (click)=" onSubmit()" class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a routerLink="/mainlogin">Login</a> </p>
  </form></div>
  <div class="col-4"></div>
</div>






