<p-card header="Application Status">
  <span class="m-0">
    <div class="containers">
      <ul class="timeline">
        <li class="active-tl">Applied</li>
        <li>Progress</li>
        <li>Status</li>
      </ul>
    </div>
  </span>
</p-card>



<!-- <p-card class="mt-4">
  <div class="row mt-5">
    <p-toolbar>
      <div class="p-toolbar-group-start">
          <button pButton icon="pi pi-plus" class="mr-2"></button>
          <button pButton icon="pi pi-print" class="mr-2"></button>
          <button pButton icon="pi pi-upload"></button>
      </div>
      <div class="p-toolbar-group-center">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText placeholder="" />
          </span>
      </div>
      <div class="p-toolbar-group-end">
          <p-splitButton label="Save" icon="pi pi-check" [model]="items"></p-splitButton>
      </div>
  </p-toolbar>
  </div>
</p-card> -->


<!-- <div class="mt-4"><mat-stepper headerPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">


       
        
      <form >
        <ng-template matStepLabel>Fill out your name</ng-template>
     
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
      <form >
        <ng-template matStepLabel>Fill out your address</ng-template>
     
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
 -->

<div class="mt-5">

  <p-card header="Applicant Detail">
    <span class="m-0 mt-5">


      <div class="row">
        <div class="col-4">

          <img [src]="imageUrl" alt="">


        </div>
        
        <div class="col-4"></div>
      </div>

      <div class="row mt-5">
        <div class="col-6">
          <i class="pi pi-user
            "></i>

          <span style="margin-left:4% ;">

            Name
          </span>
        </div>
        <div class="col-6">{{viewForms.name}} </div>
      </div>
      

      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-envelope"></i>

          <span style="margin-left:4% ;">

            E-mail
          </span>
        </div>
        <div class="col-6">{{viewForms.email}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-mobile"></i>

          <span style="margin-left:4% ;">

            Mobile Number
          </span>
        </div>
        <div class="col-6">{{viewForms.mobileNumber}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-id-card"></i>

          <span style="margin-left:4% ;">

            Student Occupation 
          </span>
        </div>
        <div class="col-6">{{viewForms.occupation}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-building
          "></i>

          <span style="margin-left:4% ;">

            Address 
          </span>
        </div>
        <div class="col-6">{{viewForms.address}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-building
          "></i>

          <span style="margin-left:4% ;">

            State 
          </span>
        </div>
        <div class="col-6">{{viewForms.state}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-building
          "></i>

          <span style="margin-left:4% ;">

            City 
          </span>
        </div>
        <div class="col-6">{{viewForms.city}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-building
          "></i>

          <span style="margin-left:4% ;">

            Pincode 
          </span>
        </div>
        <div class="col-6">{{viewForms.pincode}} </div>
      </div>


      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-book





          "></i>

          <span style="margin-left:4% ;">

            Course Name 
          </span>
        </div>
        <div class="col-6">{{viewForms.courseName
          
        
        }}  </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-calendar
          "></i>

          <span style="margin-left:4% ;">

            Date of Birth
          </span>
        </div>
        <div class="col-6">{{viewForms.dateOfBirth}} </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-venus
          "></i>

          <span style="margin-left:4% ;">

            Gender
          </span>
        </div>
        <div class="col-6">{{viewForms.gender}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-users

          "></i>

          <span style="margin-left:4% ;">

            Religion
          </span>
        </div>
        <div class="col-6">{{viewForms.religion}} </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-flag-fill


          "></i>

          <span style="margin-left:4% ;">

            Nationality
          </span>
        </div>
        <div class="col-6">{{viewForms.nationality}} </div>
      </div>


      
      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-sitemap



          "></i>

          <span style="margin-left:4% ;">

            Community Category
          </span>
        </div>
        <div class="col-6">{{viewForms.communityCategory}} </div>
      </div>


      <div class="row mt-3">
        <div class="col-6">
          <i class="pi pi-user-plus




          "></i>

          <span style="margin-left:4% ;">

            Bpl Category 
          </span>
        </div>
        <div class="col-6">{{viewForms.bplCategory == null ? 'You are not Applicable' :  viewForms.bplCategory
        ||  viewForms.bplCategory == 'null' ? 'You are not Applicable' :  viewForms.bplCategory
          
        
        }}  </div>
      </div>


      <div class="card" class="mt-5">
      
    <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
        <p-accordionTab header="10th Details">
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-sort-numeric-down
              "></i>
    
              <span style="margin-left:4% ;">
    
               Passed Out 
              </span>
            </div>
            <div class="col-6">{{viewForms.xPassedOut}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-graduation-cap
              "></i>
    
              <span style="margin-left:4% ;">
    
                Board
              </span>
            </div>
            <div class="col-6">{{viewForms.xBoard}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-building
              "></i>
    
              <span style="margin-left:4% ;">
    
                Scool name
              </span>
            </div>
            <div class="col-6">{{viewForms.xSchoolName}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Max Mark
              </span>
            </div>
            <div class="col-6">{{viewForms.xMaxMark}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Obtained Mark
              </span>
            </div>
            <div class="col-6">{{viewForms.xObtainedMark}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Percentage 
              </span>
            </div>
            <div class="col-6">{{viewForms.xPercentageMark}} </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="12th Details ">
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-sort-numeric-down
              "></i>
    
              <span style="margin-left:4% ;">
    
               Passed Out 
              </span>
            </div>
            <div class="col-6">{{viewForms.xIIPassedOut}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-graduation-cap
              "></i>
    
              <span style="margin-left:4% ;">
    
                Board
              </span>
            </div>
            <div class="col-6">{{viewForms.xIIBoard}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-building
              "></i>
    
              <span style="margin-left:4% ;">
    
                Scool name
              </span>
            </div>
            <div class="col-6">{{viewForms.xIISchooleName}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Max Mark
              </span>
            </div>
            <div class="col-6">{{viewForms.xIIMaxMark}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Obtained Mark
              </span>
            </div>
            <div class="col-6">{{viewForms.xIIObtainedMark}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Percentage 
              </span>
            </div>
            <div class="col-6">{{viewForms.xIIPercentageMark}} </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="College Details">
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-sort-numeric-down
              "></i>
    
              <span style="margin-left:4% ;">
    
               Passed Out 
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationPassedOut}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-graduation-cap
              "></i>
    
              <span style="margin-left:4% ;">
    
                Degree
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationBoard}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-building
              "></i>
    
              <span style="margin-left:4% ;">
    
                College name
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationCollegeName}} </div>
          </div>
          <!-- <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Max Mark
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationMaxMark}} </div>
          </div> -->
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                CGPA
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationObtainedMark}} </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <i class="pi pi-percentage
              "></i>
    
              <span style="margin-left:4% ;">
    
                Percentage 
              </span>
            </div>
            <div class="col-6">{{viewForms.graduationPercentageMark}} </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Parents Details">
          <p-card header="Mother's Detail">
            <span class="m-0">
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-user" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Name
                  </span>
                </div>
                <div class="col-6">{{viewForms.fatherName}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-briefcase" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Occupation
                  </span>
                </div>
                <div class="col-6">{{viewForms.fatherOccupation}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-indian-rupee" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Annual Income
                  </span>
                </div>
                <div class="col-6">{{viewForms.fatherAnnualIncome}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-mobile" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Mobile Number
                  </span>
                </div>
                <div class="col-6">{{viewForms.fatherMobileNo}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-building" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                   Office Address
                  </span>
                </div>
                <div class="col-6">{{viewForms.fatherOfficeAddress}} </div>
              </div>
            </span>
        </p-card>
          <p-card header="Father's Detail">
            <span class="m-0">
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-user" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Name
                  </span>
                </div>
                <div class="col-6">{{viewForms.motherName}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-briefcase" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Occupation
                  </span>
                </div>
                <div class="col-6">{{viewForms.motherOccupation}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-indian-rupee" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Annual Income
                  </span>
                </div>
                <div class="col-6">{{viewForms.motherAnnualIncome}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-mobile" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                    Mobile Number
                  </span>
                </div>
                <div class="col-6">{{viewForms.motherMobileNo}} </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <i class="pi pi-building" style="color: blue"></i>
                  <span style="margin-left:4% ;">
        
                   Office Address
                  </span>
                </div>
                <div class="col-6">{{viewForms.motherOfficeAddress}} </div>
              </div>
            </span>
        </p-card>
        </p-accordionTab>
        <p-accordionTab header="Document Details">
            <span class="m-0">


              <div class="row">      <div class="card-group">
                <div class="card">
                  <img class="card-img-top" [src]="imageUrlforxthsheet" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">SSLC Mark <i class="icon-sheet"></i> </h5>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" [src]="imageUrlforXllthsheet" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">HSC Mark Sheet</h5>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" [src]="imageUrlforgraduation" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Colege Graduation</h5>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div></div>
              <div class="row mt-5">
                <div class="card-group">
                  <div class="card">
                    <img class="card-img-top" [src]="imageUrlforTC" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Transfer Certificate  <i class="icon-sheet"></i> </h5>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" [src]="imageUrlforCommunityCertificate" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Community Certificate</h5>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" [src]="imageUrlforReservation" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Special Reservation </h5>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>

          





            
              
           
            </span>
        </p-accordionTab>
    </p-accordion>
</div>
    


    </span>
  </p-card>

</div>


